html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#mapImage {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(./Images/export-map-share.png);
    background-repeat: no-repeat;
    background-size: cover;
}


